/* ================================= 
  Flexbox
==================================== */

.flex-container {
    display: flex;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-container-justify {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ##### Flex container nav bar ##### */
.nav-item-1 {
    /* Useful for creating navigations when using with a flex-container that has justify-content set to space-between; */
    margin-right: auto;
}


/* ##### Flex container Order ##### */
.order-item-6 {
    /* Items have default values of 0 */
    /* Order is useful to use when creating media queries for different screen sizes */
    order: -2
}

.order-item-3 {
    order: -1;
}

.order-item-1 {
    order: 1;
}


.flex-container-grow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-grow {
    flex-grow: 1;
}

.grow-item-1 {
    flex-grow: 4;
}