/* --------------------------
BASE 
--------------------------- */

body {
    padding-top: 5em;
}

svg {
    width: 33.32%;
    float: left;
}

#star {
    margin: auto;
    display: block;
}

/* .gear-bg,
.hammer-bg,
.heart-bg {
    transition: .3s ease-out;
} */

.gear-icon,
.hammer-icon,
.heart-icon {
    transition: transform .4s ease-out;
    transform-origin: 50% 25%;
}

/* --------------------------
GEAR
--------------------------- */

/* .gear-bg:hover {
    fill: #3881cc;
} */

.gear:hover .gear-icon {
    transform: rotate(45deg) scale(1.3);
}


/* --------------------------
HAMMER
--------------------------- */

/* .hammer-bg {
    stroke: #fee16e;
}

.hammer-bg:hover {
    fill: #feae6e;
    stroke-width: 8;
} */

.hammer:hover .hammer-icon {
    transform: rotate(45deg);
}

/* --------------------------
HEART
--------------------------- */

/* .heart-bg:hover {
    fill: #ff5e5e;
} */


.heart:hover .heart-icon {
    transform: scale(1.3);
}


/* --------------------------
Keyframes
--------------------------- */

@keyframes grow {
    0%{
        transform: scale(0);
    }
    30%{
        transform: scale(1.1);
    }
    60%{
        transform: scale(0.9);
    }
}

@keyframes turn {
    0% {
        transform: rotate(0) scale(0);
        opacity: 0;
    }
    60%{
        transform: rotate(375deg) scale(1.1);
    }
    80%{
        transform: rotate(355deg) scale(0.9);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}

@keyframes pulse {
    50%{
        transform: scale(1.4);
    }
}

/* --------------------------
SVG Styles
--------------------------- */

.badge * {
    transform-origin: 40% 40%;
}

.outer,
.inner,
.inline {
    animation: grow 1s ease-out backwards;
}

.inner {
    animation-delay: .1s;
}

.inline {
    animation-delay: .15s;
}


.star {
    animation: turn 1.1s .2s ease-out backwards;
}

.star circle {
    animation: pulse .7s 1.5s;
}

.star circle:nth-of-type(2) {
    animation-delay: 1.6s;
}

.star circle:nth-of-type(3) {
    animation-delay: 1.7s;
}

.star circle:nth-of-type(4) {
    animation-delay: 1.8s;
}

.star circle:nth-of-type(5) {
    animation-delay: 1.9s;
}
