/* Structural Pseudo-classes  */

li:first-child {
    background: #52bab3;
    color: white;
}

li:last-child {
    border: none;
}

span:only-child {
    color: #52bab3;
    font-size: 1.5em;
}

li:empty {
    background-color: tomato;
}

/* nth-child Pseado-classes */

li:nth-child(even) {
    /* Selects all even children */
    background: #30837d;
    color: white;
}

li:nth-child(5) {
    /* Selects 5th child only */
    font-weight: bold;
    background: black;
    color: white;
}

li:nth-child(2n + 3) {
    /* Selects every second element starting with the 3rd element */
    padding-left: 100px;
}

div:nth-of-type(4) {
    /* Selects 4th div element child ignoring other elements*/
    background: #30837d;
    color: white;
}

div:nth-last-of-type(1) {
    background: black;
    color: white;
}